.container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body {
    margin: 0;
    padding: 0%;
    background: linear-gradient( to right, #f53ffb, #46fc83);
}
h2 {
    font-size: 3rem;
    font-style: normal;
    color: black;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}
#feil {
    font-size: 2rem;
    font-weight:lighter;
    color: red;
    font-weight: bold;
}
#riktig {
    font-size: 2rem;
    font-weight:lighter;
    color:green
    ;
    font-weight: bold;
}

#btn , #btn1 {
    background-color: aquamarine;
   background: transparent;
   text-decoration: none;
   font-size: 1rem;
   text-align: center;
   font-family: 'Source Sans Pro', sans-serif;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 0.02rem;
   font-weight: 600;
   color: black;
   border-radius: 4rem/100%;
   padding:1.2rem 2.1rem;
}
#btn:hover {
    background: rgb(231, 248, 74);
}
#btn1:hover {
    background: rgb(14, 211, 178);
}

